body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #567788 0%,#121f25 100%) no-repeat center center;
    font-family: 'Open Sans', sans-serif;
    font-size:  14px;
    color: #333333;
}
nav{
    background: #eff4f7;
    margin: 40px;
    position: relative;
    Z-Index: 5;
    height: 80px;
}
a{
    text-decoration: none;
    color: #a4a8a9;
    padding-bottom: 23px;
}
ul{
    padding: 20px 20px 0 20px;
    float: right;
}
li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
ul li a:hover{
    cursor: pointer;
    border-bottom: 2px solid #70e9ff;
    color: #333333;
}
.logo{
    position: absolute;
    z-index: 0;
    top: 20px;
    left: 550px;
    background: #ea3d51;
    width: 90px;
    height: 90px;
    padding: 20px;
}
.brand{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #FFFFFF;
    margin-top: 72px
}
.book-title{
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
    text-transform: uppercase;
}
main{
    background: #CBD0D9;
    width: 80%;
    margin: 0 auto;
}
header{
    margin-top: 150px;
}
.book-title{
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
    text-align: center;
}
.book-genre{
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
section.upper{
    position: relative;
    z-index: 8;
    margin: 0 auto;
    color: #FFFFFF;
    width: 300px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #eb3c53 0%, #e6135c 100%) no-repeat center center;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80px;
    border-radius: 50%;
}
section p.upper::before{
    content: open-quote;
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}
section p.upper::after{
    content: close-quote;
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}
p.upper{
    font-size: 15px;
    margin: 10px;
}
.stars p{
    font-size: 25px;
    text-decoration: none;
}
.upper button{
    background: none;
    border: 3px solid #70ecff;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px 25px;
}
.upper button:hover{
    background: #70ecff;
    border-color: #70ecff;
    color: #348098;
}
section.down{
    position: relative;
    z-index: 4;
    top: -250px;
    background: #FFFFFF;
    margin: 50px;
    padding: 250px 35px 35px 35px;
}
.down h1{
    color: #46ee97;
    font-size: 42px;
}
p.down{
   width: 70%;
}
.down button{
    background: none;
    border: 3px solid #628291;
    text-transform: uppercase;
    font-size: 12px;
    color: #333333;
    padding: 10px 25px;
}
.down button:hover{
    background: #628291;
    cursor: pointer;
    color: #6dffb8;
}