@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    background: #EBEBEB;
}
header{
    background: #F1F1F1;
    width: 80%;
    margin: 0 auto;
    padding: 6px;
    border-bottom: 2px dotted lightgray;
}
main{
    margin-top: -50px;
}
h1{
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    color: #269DE4;
}
h2{
    font-size: 20px;
}
h3{
    margin-top: -50px;
}
div{
    padding-top: -80px;
    width: 80%;
    margin: 0 auto;
}
.basic-info{
    width: 72%;
    float: left;
    border-bottom: 2px dotted lightgray;
}
form{
    margin-top: 111px;
    margin-left: -10px;
    border-bottom: 2px dotted lightgray;
    height: 225px;
}

.pers-details{
    font-weight: bold;
    width: 16%;
    margin-left: 10px
}
.pers-details span{
    font-size: 18px;
}
.pers-details input{
    margin-top: 10px;
    display: block;
    width: 164px;
    height: 30px;
}
.request{
    width: 53%;
    margin-left: 583px;
    height: 25%;
    margin-top: -136px;
}
.request input{
    width: 142px;
    height: 27px;
}
select{
    width: 194px;
    height: 30px;
    margin-bottom: 30px;
}
a{
    margin-left: -30px;
}
.search{
    margin-top: 80px;
    width: 12%;
    margin-left: 950px;
}
button{
    margin-top: 40px;
    float: right;
    margin-right: 203px;
    background: #269DE4;
    padding: 7px 45px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
button:hover{
    background: #3BBC96;
    cursor: pointer;
}