@media all and (max-width: 1000px){

    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    header{
        height: 200px;
    }
    #logoarea{
        display: unset;
        padding: 0;
        float: none;
    }

    #logoarea a{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #header-area-right{
        float: none;
        padding: 0;
        margin-right: 20%;
    }

    #search-form{
        margin-top: 11%;
    }



}