form{
    border: 1px solid darkgray;
    width: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    color: darkgray;
    background: #F7F7F7;
}
form h1, h3{
    color: gray;
    margin-left: 80px;
}
label{
    display: list-item;
    list-style: none;
    margin: 40px;
    font-size: 18px;
}
span{
    vertical-align: top;
}
textarea{
    margin-left: 20px;
    width: 208px;
    color: darkgray;
}
input{
    margin-left: 5px;
    width: 204px;
    color: darkgray;
    height: 27px;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
    color: #CCCCCC;
}
.name{
    margin-right: 10px;
}
.email{
    margin-right: 7px;
}
.message{
    margin-right: -7px;
    margin-left: 17px;
}
.sbj{
    margin-left: 24px;
    margin-right: 10px;
}
select{
    width: 212px;
    color: darkgray;
    height: 30px;
}
button{
    margin-bottom: 30px;
    background: #E27575;
    padding: 10px 70px;
    margin-left: 139px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}